.app-comp__inputsearch {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--card-subtitle);
  border-radius: 8px;
  font-weight: 500;
  padding: 5px;
  height: 40px;
  background-color: var(--root-background);
}

.app-comp__inputsearch > svg {
  color: var(--card-subtitle);
  font-size: 22px;
}

.app-comp__inputsearch > input {
  background-color: var(--root-background);
  border: none;
  outline: none;
  color: var(--card-subtitle);
  width: 100%;
  height: 100%;
  margin-left: 8px;
}

/* CARD USER */

.app-comp__carduser {
  display: flex;
  align-items: center;
  padding: 15px;
  min-width: 300px;
  /* max-width: 300px; */
  flex: 1;
  margin: 7px;
  border-radius: 10px;
  background-color: var(--card-background);
}

.app-comp__carduser > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.app-comp__carduser > section {
  display: flex;
  flex-direction: column;
}

.app-comp__carduser > section > h3 {
  font-size: 15px;
  margin: 2px 0;
  color: var(--card-title);
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-comp__carduser > section > h5 {
  font-size: 12px;
  font-weight: 400;
  margin: 2px 0;
  color: var(--card-subtitle);
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-comp__carduser > section > p {
  font-size: 12px;
  margin: 2px 0;
  font-weight: 400;
  color: var(--card-email);
  overflow: hidden;
  text-overflow: ellipsis;
}
