.app-listusers {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.app-listusers-itens {
  display: flex;
  flex-wrap: wrap;
  margin: -7px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.app-listusers__not-users {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 120px;
  justify-content: center;
  flex: 1;
  margin: 7px;
  border-radius: 10px;
  color: var(--card-email);
  background-color: var(--card-background);
}

.app-listusers__not-users > svg {
  font-size: 50px;
  margin-right: 20px;
}
